@import url(./mail/email-app.css);

*{ 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-collapse: collapse;  
}

.main-container{
    height: 90vh;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background-color: red;
}

.main-header h1{
display: flex;
flex-grow: 1;
justify-content: center;
}

.main-footer{
    height: 5vh;
    background-color: red;
}