@import url(./helpers.css);
@import url(./mail/email-app.css);
@import url(./notes/notes-app.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@font-face {
  font-family: Product;
  src: url(../fonts/product-sans/Product\ Sans\ Regular.ttf);
}
@font-face {
  font-family: Product-bold;
  src: url(../fonts/product-sans/Product\ Sans\ Bold.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  color: #003049;
  font-family: "Product", sans;
}

body {
  height: 100vh;
  background-image: url(../imgs/backGroung-home.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* HEADER */

.main-header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 5vh;
}

.main-header nav {
  position: absolute;
  width: 100%;
}

.main-header h1 {
  font-size: 2rem;
  text-shadow: 0.042em 0.082em 0.052em #003049;
  color: #eae2b7;
}

.pass {
  position: absolute;
  width: 100%;
  height: 5rem;
  top: -2.8rem;
  transform: skewY(-2deg);
  background: linear-gradient(#d62828, #b62020),
    linear-gradient(#4e4376, #2b5876);
  background-size: cover;
}
.reversed-pass {
  position: absolute;
  width: 100%;
  width: 100%;
  height: 5rem;
  bottom: 0.7rem;
  transform: skewY(-2deg);
  background: linear-gradient(#d62828, #b62020),
    linear-gradient(#4e4376, #2b5876);
  background-size: cover;
  z-index: -1;
}

.link-btn {
  color: #eae2b7;
  border-radius: 8px;
  background-color: #003049;
  padding: 4px;
  text-align: center;
  box-shadow: none;
  cursor: pointer;
  border: none;
  margin-right: 8px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.link-btn:hover {
  background-color: #f77f00;
  color: #faf8f0;
}

/* HOME */
.home {
  text-align: center;
}

.home-width {
  max-width: 700px;
}

.home h1 {
  font-size: 3rem;
}

/* ABOUT */
.appsus-about > * {
  text-align: center;
}

.appsus-about h1 {
  font-size: 3rem;
}

.filler {
  margin-top: 10em;
}

/* FOOTER */
.main-footer {
  height: 5vh;
}

/* MEDIA */

@media (max-width: 700px) {
  .email-folder-btn {
    width: fit-content;
    min-width: 2.5rem;
  }
  .subject-container {
    width: calc(250px + 100vw - 1024px) !important;
    overflow: hidden;
    white-space: nowrap;
    /* text-overflow: ellipsis;  */
    /* display: block;  */
  }
}
@media (max-width: 360px) {
  
  .email-app {
    flex-direction: column;
  }
  .folder-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .email-folder-btn {
    display: flex;
    flex-direction: row;
    background-color: #eae2b7;
    border-radius: 1rem;
  }
  .email-folder-btn span {
    display: none;
  }

  .compose-folder-btn {
    border: 0;
    flex-grow: 0;
  }
  .email-folder-btn::before {
    content: "\00a0\00a0";
  }
}
