
.note-creator {
    margin: 1rem;
    box-shadow: 1px 1px 1px 1px #003049;
}

.modal {
    position:relative;
    width:50%;
    padding: 20px;
    min-height:100px;
    margin: 0 auto;
    margin-top: 10vh;
    background: linear-gradient(to right, #fcbf49 0%, #ffd072 50%, #fcbf49 100%);
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition-duration: 0.218s;
    transition-duration: 0.218s;
    -webkit-transition-property: background,border,opacity,-webkit-box-shadow,-webkit-transform;
    transition-property: background,border,opacity,box-shadow,transform;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
 

.modal-bg {
    background-color:rgba(14, 14, 14, 0.3);
    position: absolute;
    z-index: 99;
    width:100%;
    height:100%;
    top:0px;
    left:0px;

}

.tablinks {
    background-color: #eae2b700;
    color: #003049;
    border-radius: 50%;
    padding: .2rem;
    text-align: center;
    font-size: 14px;
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
    box-shadow: none;
    cursor: pointer;
    border: none;
    margin-right: 8px;
}

.tablinks:hover {
    background: linear-gradient(to right, #eae2b7 0%,#eae2b7 50%, #eae2b7 100%);
    color: #f77f00;
    border-radius: 50%;
}
.close-modal:hover {
    background: linear-gradient(to right, #fcbf49 0%, #ffd072 50%, #fcbf49 100%);
    color: #d62828;

}