@import url(./notes-filter.css);
@import url(./notes-search.css);
@import url(./note-creator.css);
@import url(./notes-list.css);
@import url(./note-images.css);

.note-adder  {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 6px 1px 1px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

.notes-body {
width: 100%;
}

.note {
    height: 100px;
    overflow: visible;
    width: 100px;
    background-color: #fcbf49;
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 6px 1px 1px;
    min-height: 28px;
    padding: 20px;
    margin: 4px;
    border: 5px solid #003049;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px #074161; 
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition-duration: 0.218s;
    transition-duration: 0.218s;
    -webkit-transition-property: background,border,opacity,-webkit-box-shadow,-webkit-transform;
    transition-property: background,border,opacity,box-shadow,transform;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.note:hover {
    background: linear-gradient(to right, #ce6d06 0%, #f88204 50%, #d46f03 100%);
    color: #003049;
    box-shadow: 1px #003049;

}
.flex-row{
    display: flex;
    flex-direction: row;
}