@import url(../../helpers.css);

.folder-list {
  font-size: 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.folder-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  padding: 0.3rem;
  width: 60px;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0 1rem 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: background-color 0.2s;
}

.folder-btn:hover {
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.3);
}

.new-mail {
  background-color: #d62828;
}

.active {
  background-color: #d62828a9;
}
