@import url(../../helpers.css);

.email-compose header{
background-color: #d62828;
}
.email-compose nav{
background-color: #d62828;
}

textarea {
    margin: 1rem 0;
    resize: none;
    width: 100%;
 }