@import url(../../helpers.css);

.email-list{
    width: 100%;
    font-size: .8rem;
    overflow-y: scroll;
}

.mail-preview{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.mail-preview:hover{
    cursor: pointer;
    box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.3);
}

.mail-preview table{
    width: 100%;
}

.mail-preview tr{
    max-height: 3rem;
}

.mail-preview tr th:last-child{
margin: 0 .2rem;
}

.subject{
    width: 5rem;
}


