.email-compose {
  height: 100%;
}

.email-compose header {
  background-color: #d62828;
}
.email-compose nav {
  background-color: #d62828;
}

.email-compose textarea {
  display: flex;
  flex: 1;
  resize: none;
  width: 100%;
}

.open-email {
  background-color: #002f491f;
}

.send-btn {
  margin: 0.2em 0;
  border-radius: 1rem;
  background-color: #eae2b7;
  border: 2px solid #d62828;
}
