@import url(../../helpers.css);

.email-list{
    width: 100%;
    font-size: .8rem;
}


.mail-prev{
    border-bottom: 1px solid black;
}


.mail-prev table{
    width: 100%;
}

.mail-prev tr{
   max-height: 3rem;
}